.env
venv
L_atlas_to_local.py
T_local_solds.py
offices_from_domain_search.csv
domain.smaps_mapped.json
domain.smaps_mapped_unique.json
EL_search_smaps_mapped_local.py
L_cosmos_to_local.py
EL_search_smaps_mapped_cosmos.py
L_azure_to_local.py
L_realhub_atlas_to_local.py
TL_solds_to_sql_efficient.py
L_insert_df_to_postgresql.py
__pycache__